#user control 
do_mapgrid (default 50 level pres grid)
T
DO_usrgrid
F
ATM_TYPE (0: user define; 1~6 for tropical, mid sum, mid win, subarc sum, subar win, us std)
1
do_icecld (noaa no need)
F
DO_Lambertian
T
Do_Planetary
F
DO_Scalar_only
F
userset_stream
6
N_USER_OBSGEOMS
2
Observation Geometry inputs: sza, vza, relative aza
35.0, 8.0, 50.0
58.0, 18.0, 20.0
surface pressure (hpa)
1010.0
Surface albedo (1-10 use spectrral depended reflectivity, <1 value of surface albedo)
0.8
