


C  BRDF : Basic inputs for BRDF Type Structure "VBRDF_Sup_Inputs"
C  ==============================================================

BRDFSUP - Use solar sources?
t

BRDFSUP - Use user-defined viewing zenith angles?
t

BRDFSUP - Do BRDF surface?
t

BRDFSUP - Do NewCM Ocean BRDF reflectance?
f

BRDFSUP - Do NewGCM Ocean BRDF reflectance?
f

BRDFSUP - Do surface emission?
f

BRDFSUP - Number of Stokes vector components
3

BRDFSUP - Number of half-space streams
6

BRDFSUP - Do Doublet Geometry?
f

BRDFSUP - Do Observation Geometry?
f

    @@@@ SOLAR ZENITH INPUT (LATTICE or DOUBLET)

BRDFSUP - Number of solar zenith angles
4

BRDFSUP - Solar zenith angles (degrees)
35.0
67.0
75.0
82.0

    @@@@ USER ANGLE INPUTS (LATTICE)

BRDFSUP - Number of user-defined relative azimuth angles
3

BRDFSUP - User-defined relative azimuth angles (degrees)
10.0
90.0
170.0

BRDFSUP - Number of user-defined viewing zenith angles
3

BRDFSUP - User-defined viewing zenith angles (degrees)
10.0
20.0
40.0

    @@@@  USER ANGLE INPUTS (DOUBLET)

BRDFSUP - Number of Doublet Geometry inputs
9

BRDFSUP - Doublet Geometry inputs
10.0, 10.0
10.0, 90.0
10.0, 170.0
20.0, 10.0
20.0, 90.0
20.0, 170.0
40.0, 10.0
40.0, 90.0
40.0, 170.0

    @@@@ OBSERVATIONAL GEOMETRY INPUTS

BRDFSUP - Number of Observation Geometry inputs
3

BRDFSUP - Observation Geometry inputs
35.0, 10.0, 10.0
67.0, 20.0, 90.0
75.0, 40.0, 170.0


SURFACE STUFF
=============

      ---------------- NewCm, NewGCm inputs -------------------

BRDFSUP - Do NewCM glint shadowing?
f

BRDFSUP - Do NewCM whitecap (foam) reflectance?
f

BRDFSUP - Do NewCM facet isotropy?
f

BRDFSUP - NewCM Wavelength [Microns]?
0.440

BRDFSUP - NewCM Ocean water salinity [ppt]
300.0

BRDFSUP - NewCM Windspeed in [m/s]
5.0

BRDFSUP - NewCM Wind directions (degrees) relative to sun positions
70.0

      ---------------- Other BRDF Kernel inputs -------------------

BRDFSUP - Number of BRDF kernels
4

BRDFSUP - Do white-sky and black-sky albedo output?
f

BRDFSUP - Do white-sky albedo scaling?
f

BRDFSUP - Do black-sky albedo scaling?
f

BRDFSUP - White-sky albedo value
0.24

BRDFSUP - Black-sky albedo value
0.24

BRDFSUP - Number of BRDF azimuth angles
100

BRDFSUP - Do shadow effect for glitter kernels?
t

BRDFSUP - Do direct-bounce only (no multiple-scatter contributions to BRDF)?
f

BRDFSUP - Do include truncated Fourier solution for direct-bounce BRDF?
t

BRDFSUP - Do multiple reflectance for all glitter kernels?
f

BRDFSUP - Do multiple reflectance for just the direct-bounce glitter kernels?
f

BRDFSUP - Multiple reflectance scattering order for glitter kernels
0

BRDFSUP - Multiple reflectance scattering; Polar quadrature order
40

BRDFSUP - Multiple reflectance scattering; Azimuth quadrature order
100



C  BRDF : Grouped basic inputs for BRDF Type Structure "VBRDF_Sup_Inputs"
C  ======================================================================

BRDFSUP - Kernel names, indices, amplitude control and factors, # parameters, parameters
Lambertian 1 F  0.2500  0.0000 0    0.000000    0.000000    0.000000    0.000000
Li-sparse  4 F  0.0600  0.0000 2    2.000000    1.000000    0.000000    0.000000
Ross-thick 3 F  0.0400  0.0000 0    0.000000    0.000000    0.000000    0.000000
BPDF-NDVI 14 T  0.0000  1.5000 3    1.334000    0.500000    1.000000    0.000000

GissCoxMnk10 T  0.0000  0.1000 2    0.039900    1.334000    0.000000    0.000000

Cox-Munk   9 F  0.1000  0.0000 2    0.079800    1.779556    0.000000    0.000000



Lambertian 1 F  0.2500  0.0000  0    0.000000    0.000000    0.000000    0.000000
Li-sparse  4 F  0.0600  0.0000  2    2.000000    1.000000    0.000000    0.000000
Ross-thick 3 F  0.0400  0.0000  0    0.000000    0.000000    0.000000    0.000000
BPDF-NDVI 14 T  0.0000  1.5000  3    1.334000    0.500000    1.000000    0.000000


GissCoxMnk10 T  0.0000  0.1000  2    0.039900    1.334000    0.000000    0.000000

Lambertian 1 F  0.2500  0.0000  0    0.000000    0.000000    0.000000    0.000000
Li-sparse  4 F  0.0600  0.0000  2    2.000000    1.000000    0.000000    0.000000
Ross-thick 3 F  0.0400  0.0000  0    0.000000    0.000000    0.000000    0.000000
BPDF-NDVI 14 T  0.0000  1.5000  3    1.334000    0.500000    1.000000    0.000000

Cox-Munk   9 F  0.1000  0.0000 2    0.079800    1.779556    0.000000    0.000000


Lambertian 1 F  0.4000  0.0000  0    0.000000    0.000000    0.000000    0.000000
Ross-thin  2 F  0.3000  0.0000  0    0.000000    0.000000    0.000000    0.000000
Li-dense   5 F  0.1000  0.0000  2    2.000000    1.000000    0.000000    0.000000
GissCoxMnk10 T  0.0000  0.1000  2    0.039900    1.334000    0.000000    0.000000



Lambertian  1  F  0.8000  0.0000  0    0.000000    0.000000    0.000000    0.000000
Ross-thick  3  F  0.4000  0.0000  0    0.000000    0.000000    0.000000    0.000000
SnowRTS    20  F  2.0000  0.0000  1    0.300000    0.000000    0.000000    0.000000

BPDF-NDVI  14  T  0.0000  0.1000  3    1.334000    0.200000    0.100000    0.000000
BPDF-Vegn  13  T  0.0000  0.10000 1    2.000000    0.000000    0.000000
BPDF-Soil  12  T  0.0000  0.10000 1    2.000000    0.000000    0.000000




  NAME      #  S?  Sfac    Vfac   #par   PAR1        PAR2        PAR3        PAR4

#    = Kernel indices
S?   = DO_SEPARATE FACTORS
Sfac =  SCALAR FACTOR for this KERNEL
Vfac =  VECTOR FACTOR for this KERNEL
#par = Number of kernel parameters
PAR1 = First Kernel parameter.......etc....

(Above statement is Formatted: ( A10, I2, F6.2, I2, 3F12.6 ))    ! V2.6 & Earlier
(Above statement is Formatted: ( A10, I2, F8.4, I2, 3F12.6 ))    ! V2.7
(Above statement is Formatted: ( A10, I2, F8.4, I2, 4F12.6 ))    ! V2.8
(Above statement is Formatted: ( A10, I3, L3, F8.4, F8.4, I3, 4F12.6 ))    ! V2.8.5


C  BRDF : Grouped linearized inputs for BRDF Type Structure "VBRDF_LinSup_Inputs"
C  ==============================================================================

BRDFSUP - Kernels, indices, # pars, Factor Jacobian flags, Par Jacobian flags
Lambertian  1 0  T F   F F F F
Ross-thin   2 0  T F   F F F F
Li-dense    5 2  T F   T T F F
GissCoxMnk 10 2  F T   T F F F

(Above statement is Formatted: ( A10, I3, I2, 1X, L2, 2X, 4L2 ))         ! V2.8
(Above statement is Formatted: ( A10, I3, I2, 1X, 2L2, 2X, 4L2 ))        ! V2.8.5

BRDFSUP - Do white-sky albedo Jacobian?
f

BRDFSUP - Do black-sky albedo Jacobian?
f

BRDFSUP - Do wind-speed (NewCM) Jacobian?
f

